.too_logo {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -3px;
  word-spacing: -10px;

}

.too_logo_faded {
  color: #cccccc;
}

.too_logo_dot {
  color: #cccccc;
  font-size: 0.50em;
}

.too_logo_emphasized {
  color: #e38d15; 
}


body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  margin-left: 5em;
  padding: 0px;
}

body a {
  color: black;
}


body a:hover {
  text-decoration: underline; 
}

.bottom_toolbar {
  margin-top: 1em;
}

a.action_link {
  text-decoration: none;
  font-size: 1.25em;
  color: #777777;

  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;

  padding: 0.25em;

}

a.action_link:hover {
  text-decoration: none;
  color: #e38d15; 
}


.articles {
}

.toolbar {
  font-size: 1.25em;
  color: #777777;
}

.toolbar a {
  text-decoration: none; 
  color: #777777;
}

.toolbar a:hover {
  text-decoration: none; 
  color: #e38d15; 
}


.helptext {
  color: #777777;
  font-size: 0.75em;
}

.immutable_info {
  color: #777777;
}

.article {
  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;
  width: 20em;
  height: 10em;
  padding: 0em 1em 1em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.article a {
  text-decoration: none; 
  color: black;
}

.article_body {
}

.article_title {
}

.article_attribution {
  color: #777777;
  font-size: 0.75em;
  padding-bottom: 0.50em;
}

.article_description {
  font-family: serif;
  font-size: 0.85em;
}

.article_metadata {
  padding-top: 0.50em;
  color: #777777;
  font-size: 0.75em;
}

.article_footer {
  position: relative;
  top: 150px;
  padding-bottom: 0.75em;
}

.article_created_at {
  float: left;
}

.article_read_later {
  float: right;
}

.article_column0 {
  float: left;
}

.article_column1 {
  float: left;
}

.footer {
  padding-top: 2em;
  color: #cccccc;
  font-size: 0.75em;
}

.flash_notice {
  color: #e38d15; 
}
