.too_logo {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -3px;
  word-spacing: -10px;
  color: #cccccc;
}

.too_logo_dot {
  font-size: 0.50em;
}

.too_logo em {
  font-style: normal;
  color: #e38d15; 
}

.toolbar {
  font-size: 1.25em;
  color: #777777;
}

.tagbar a {
  font-size: 0.9em;
  color: #dddddd;
}

body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  margin-left: 5em;
  padding: 0px;
}


body a {
  text-decoration: none; 
  color: #777777;
}

body a:hover {
  text-decoration: none; 
  color: #e38d15; 
}

.bottom_toolbar {
  margin-top: 1em;
}

a.action_link {
  font-size: 1.25em;
  color: #777777;

  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;

  padding: 0.25em;
}

.helptext {
  color: #777777;
  font-size: 0.75em;
}

.immutable_info {
  color: #777777;
}

.article {
  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;
  width: 20em;
  height: 10em;
  padding: 0em 1em 1em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.article_title a {
  text-decoration: none; 
  color: black;
}

.article_title a:hover {
  text-decoration: underline; 
  color: black;
}

.article_attribution {
  color: #777777;
  font-size: 0.75em;
  padding-bottom: 0.50em;
}

.article_description {
  font-family: serif;
  font-size: 0.85em;
}

.article_metadata {
  padding-top: 0.50em;
  color: #777777;
  font-size: 0.75em;
}

.article_created_at {
  float: left;
}

.article_tags {
  float: left;
  font-size: 1em;
}

.article_tags a {
  color: #aaaaaa;
}

.article_footer {
  position: relative;
  top: 150px;
  padding-bottom: 0.75em;
}

.article_read_later {
  float: right;
}

.article_column0 {
  float: left;
}

.article_column1 {
  float: left;
}

.footer {
  padding-top: 2em;
  color: #cccccc;
  font-size: 0.75em;
}

.flash_notice {
  color: #e38d15; 
}

.minipage {
  width: 25em;
}

.minipage h1 {
  color: #cccccc;
}

.minipage h2 {
  color: #cccccc;
}

.minipage a {
  text-decoration: underline;
  color: black;
}

.minipage a:hover {
  text-decoration: underline;
  color: black;
}
