<p>
<strong>theiropinion.org</strong> is an edited aggregation of opinion articles for use with the fantastic <%= link_to "Instapaper", "http://www.instapaper.com" %> reader.
</p>

<p>
The site is updated daily (or when I have time :-).
</p>



