<div class="minipage">
<h1>About Us</h1>
<p>
<strong>theiropinion.org</strong> is dedicated to bringing thought provoking
pieces from around the web together in one place.
</p>

<p>
Follow us on Twitter <strong>@theiropinion</strong>
</p>

<h1>FAQ</h1>

<h2>What is Instapaper?</h2>
<p>
<%= link_to "Instapaper", "http://www.instapaper.com" %> is a service which lets you compile a
reading list that is accessible anywhere, from your desktop, to your mobile
phone, to your Kindle.
</p>

<h2>Do I need to use Instapaper?</h2>
<p>
While recommended, Instapaper is not required to enjoy the content from
<strong>theiropinion.org</strong>. Each posting contains a regular hyperlink to
the original article in addition to the Instapaper <strong>Read Later</strong> button.
</p>
</div>
